<div class="container">
  <div class="container">
    <select
      name="sortingType"
      class="form-select"
      aria-label="Default select example"
      onchange="this.form.submit()"
    >
      <option disabled selected value>類別</option>
      <option value="家居物業">家居物業</option>
      <option value="交通出行">交通出行</option>
      <option value="休閒娛樂">休閒娛樂</option>
      <option value="餐飲食品">餐飲食品</option>
      <option value="其他">其他</option>
    </select>
  </div>

  <div class="container">
    <p>總金額</p>
    <p>{{totalAmount}}</p>
  </div>
  {{#each records}}
    <div class="container">
      <table class="table table-striped">
        <tbody>
          <tr>
            <th scope="row">
              <i class="fa-solid fa-house"></i>
            </th>
            <td>
              <p>{{this.name}}</p>
            </td>
            <td>
              <p>{{this.date}}</p>
            </td>
            <td>
              <p class="amount">{{this.amount}}</p>
            </td>
            <td>
              <a href="/records/{{this._id}}/edit">
                <button type="button" class="btn btn-warning">修改</button>
              </a>
            </td>
            <td>
              <form action="/records/{{this._id}}?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-danger">刪除</button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  {{/each}}
  <div class="container">
    <a href="/records/new">
      <button type="button" class="btn btn-secondary">新增支出</button>
    </a>
  </div>
</div>