<div class="container">
  <div class="container">
    <form action="/" method="GET">
      <select
        name="sortByCategory"
        class="form-select"
        aria-label="Default select example"
        onchange="this.form.submit()"
      >
        <option value="" disabled selected>類別</option>
        <option value="0">全部類別</option>
        {{#each categories}}
        <option value="{{this.id}}" {{#ifCond this.id ../categoryId}}selected{{/ifCond}}>{{this.name}}</option>
        {{/each}}
      </select>
    </form>
  </div>
  
  <div class="container">
    <p>總金額</p>
    <p>{{totalAmount}}</p>
  </div>
  {{#each records}}
    <div class="container">
      <table class="table table-striped">
        <tbody>
          <tr>
            <th scope="row">
              <i class="{{iconChoose this.categoryId}}"></i>
            </th>
            <td>
              <p>{{this.name}}</p>
            </td>
            <td>
              <p>{{this.date}}</p>
            </td>
            <td>
              <p class="amount">{{this.amount}}</p>
            </td>
            <td>
              <a href="/records/{{this._id}}/edit">
                <button type="button" class="btn btn-warning">修改</button>
              </a>
            </td>
            <td>
              <form action="/records/{{this._id}}?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-danger">刪除</button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  {{/each}}
  <div class="container">
    <a href="/records/new">
      <button type="button" class="btn btn-secondary">新增支出</button>
    </a>
  </div>
</div>